body {
    background-color: rgb(108, 170, 9);
}

h1 {
background-color: rgb(214, 236, 10);
color: rgb(2, 61, 10);
font-size: 60px;
border: 5px solid wheat;

}

h2 {
    background-color: rgb(214, 236, 10);
    color: rgb(2, 61, 10);
    font-size: 30px;
    border: 3px solid wheat;
    
    }

ul {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    list-style-type: square;
 
}


ol {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    box-sizing: content-box;
    list-style: decimal;


}


li {
  padding: 5px;
  text-align: left;
}

nav {
    background-color: #0077c2;
    border:  dashed whitesmoke ;
    margin-top: 15px;
    margin-bottom: 15px;
}

.display-head {
    display:inline;


}
.head-about{
    text-align: center
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

