body {
    background-color: rgb(108, 170, 9);
}

h1 {
background-color: rgb(214, 236, 10);
color: rgb(2, 61, 10);
font-size: 60px;
border: 5px solid wheat;

}

h2 {
    background-color: rgb(214, 236, 10);
    color: rgb(2, 61, 10);
    font-size: 30px;
    border: 3px solid wheat;
    
    }

ul {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
<<<<<<< HEAD
    box-sizing: content-box;
    list-style-type: square;

=======
    list-style-type: square;

    
>>>>>>> 5c5c80033671982ec6cc2c3eb9b17b1f850b6a1a
}


ol {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    box-sizing: content-box;
<<<<<<< HEAD
    list-style: decimal;

=======
}


li {
  padding: 20px;
  text-align: left;
}

ol {
  list-style: decimal;
>>>>>>> 5c5c80033671982ec6cc2c3eb9b17b1f850b6a1a
}
li {
    padding: 20px;
    text-align: left;
  }